# Parameter Map

{% for note in notes %}
{{ note }}

{% endfor %}
{% if definitions %}
## Definitions

{% for name, d in definitions.items() %}
- **{{ name }}**
$${{ d.formulation }}$$
{% endfor %}

{% endif %}
## Parameters

{% for name, d in parameters.items() %}
- **{{ name }}**
$${{ d.formulation }}$$
{% endfor %}
